In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
nfl_data = pd.read_csv('NFL_data.csv')

In [3]:
nfl_data.head()

,Team,City,State,Metropolitan,League,Conference,Division,First season,Head coach,Games played,...,Average ticket price in 2019,Average monthly precipitation(whole year),Average monthly precipitation(season),Price of gasoline (1 gallon),Price of domestic beer (0.5 liter draught),Price of McMeal at McDonalds,Safety index,CO2 emission index,Traffic index,Pollution index
0,Arizona Cardinals,Glendale,Arizona,Phoenix,NFL,National Fotball Conference,West,1920,Kliff Kingsbury,16,...,128.00,17.1,18.8,2.88,4.00,7.50,46.89,7651.68,146.23,58.16
1,Atlanta Falcons,Atlanta,Georgia,Atlanta,NFL,National Fotball Conference,South,1966,Dan Quinn,16,...,154.00,105.6,102.1,2.64,4.75,7.00,37.61,9839.44,205.68,44.69
2,BC Lions,Vancouver,British Columbia,Vancouver,CFL,NaN,West,1954,DeVone Claybrooks,19,...,48.95,96.1,80.6,4.31,5.30,7.58,63.94,5448.14,151.19,24.63
3,Baltimore Ravens,Baltimore,Maryland,Baltimore,NFL,American Football Conference,North,1996,John Harbaugh,17,...,155.00,86.8,83.8,2.73,5.00,6.57,27.79,4490.62,125.03,48.05
4,Buffalo Bills,Orchard Park,New York,Buffalo,NFL,American Football Conference,East,1960,Sean McDermott,16,...,98.00,85.9,94.0,2.92,4.00,7.00,59.37,5173.70,109.28,29.33

In [4]:
nfl_data.dtypes

Team                                           object
City                                           object
State                                          object
Metropolitan                                   object
League                                         object
Conference                                     object
Division                                       object
First season                                    int64
Head coach                                     object
Games played                                    int64
Points for                                      int64
Points against                                  int64
Touchdowns for                                  int64
Touchdowns against                              int64
Points for per game                           float64
Touchdowns for per game                       float64
Overall points                                  int64
Overall touchdowns                              int64
Overall points per game                       float64
Overall touchdowns per game                   float64
Stadium                                        object
Capacity                                        int64
Latitude                                      float64
Longitude                                     float64
Home attendance                                 int64
Average ticket price in 2019                  float64
Average monthly precipitation(whole year)     float64
Average monthly precipitation(season)         float64
Price of gasoline (1 gallon)                  float64
Price of domestic beer (0.5 liter draught)    float64
Price of McMeal at McDonalds                  float64
Safety index                                  float64
CO2 emission index                            float64
Traffic index                                 float64
Pollution index                               float64
dtype: object

In [5]:
nfl_data['Touchdowns for']

0     27
1     49
2     37
3     43
4     29
5     56
6     46
7     51
8     45
9     44
10    42
11    39
12    35
13    51
14    41
15    54
16    43
17    57
18    25
19    79
20    56
21    65
22    38
23    42
24    28
25    62
26    64
27    39
28    34
29    30
30    45
31    45
32    54
33    35
34    26
35    54
36    49
37    34
38    35
39    29
40    55
Name: Touchdowns for, dtype: int64

In [6]:
np.max(nfl_data['Touchdowns for'])

79

In [7]:
np.min(nfl_data['Touchdowns for'])

25

In [14]:
nfl_data.sort_values(['Touchdowns for'], inplace=True)

In [15]:
nfl_data['touchdowns_rank'] = nfl_data['Touchdowns for'].rank(method='first', ascending = False)

In [16]:
nfl_data[['touchdowns_rank','Touchdowns for']]

    touchdowns_rank  Touchdowns for
18             41.0              25
34             40.0              26
0              39.0              27
24             38.0              28
4              36.0              29
39             37.0              29
29             35.0              30
28             33.0              34
37             34.0              34
38             30.0              35
33             31.0              35
12             32.0              35
2              29.0              37
22             28.0              38
27             26.0              39
11             27.0              39
14             25.0              41
10             23.0              42
23             24.0              42
16             21.0              43
3              22.0              43
9              20.0              44
31             17.0              45
8              18.0              45
30             19.0              45
6              16.0              46
1              14.0              49
36             15.0              49
13             12.0              51
7              13.0              51
35              9.0              54
15             10.0              54
32             11.0              54
40              8.0              55
5               6.0              56
20              7.0              56
17              5.0              57
25              4.0              62
26              3.0              64
21              2.0              65
19              1.0              79

In [17]:
nfl_data.columns

Index(['Team', 'City', 'State', 'Metropolitan', 'League', 'Conference',
       'Division', 'First season', 'Head coach', 'Games played', 'Points for',
       'Points against', 'Touchdowns for', 'Touchdowns against',
       'Points for per game', 'Touchdowns for per game', 'Overall points',
       'Overall touchdowns', 'Overall points per game',
       'Overall touchdowns per game', 'Stadium', 'Capacity', 'Latitude',
       'Longitude', 'Home attendance', 'Average ticket price in 2019',
       'Average monthly precipitation(whole year)',
       'Average monthly precipitation(season)', 'Price of gasoline (1 gallon)',
       'Price of domestic beer (0.5 liter draught)',
       'Price of McMeal at McDonalds', 'Safety index', 'CO2 emission index',
       'Traffic index', 'Pollution index', 'touchdowns_rank'],
      dtype='object')

In [18]:
nfl_data.sort_values(['Average ticket price in 2019'], inplace=True, ascending = True)

In [21]:
nfl_data[['Team','Average ticket price in 2019']].head(10)

                        Team  Average ticket price in 2019
38         Toronto Argonauts                         28.20
13          Edmonton Eskimos                         36.00
15       Hamilton Tiger-Cats                         37.88
24        Montreal Alouettes                         42.72
2                   BC Lions                         48.95
30          Ottawa Redblacks                         57.26
40     Winnipeg Blue Bombers                         57.36
34  Saskatchewan Roughriders                         70.86
5         Calgary Stampeders                         73.10
4              Buffalo Bills                         98.00

In [22]:
nfl_data['ticket_rank'] = nfl_data['Average ticket price in 2019'].rank(method='first', ascending = True)

In [23]:
nfl_data[['Average ticket price in 2019','ticket_rank']]

    Average ticket price in 2019  ticket_rank
38                         28.20          1.0
13                         36.00          2.0
15                         37.88          3.0
24                         42.72          4.0
2                          48.95          5.0
30                         57.26          6.0
40                         57.36          7.0
34                         70.86          8.0
5                          73.10          9.0
4                          98.00         10.0
17                        107.00         11.0
18                        109.00         12.0
21                        114.00         13.0
27                        126.00         14.0
0                         128.00         15.0
6                         129.00         16.0
8                         134.00         17.0
28                        139.00         18.0
36                        143.00         19.0
1                         154.00         20.0
3                         155.00         21.0
37                        155.00         22.0
33                        157.00         23.0
23                        160.00         24.0
16                        165.00         25.0
12                        167.00         26.0
22                        169.00         27.0
19                        175.00         28.0
29                        179.00         29.0
9                         185.00         30.0
10                        203.00         31.0
39                        211.00         32.0
20                        215.00         33.0
32                        217.00         34.0
31                        233.00         35.0
35                        238.00         36.0
11                        243.00         37.0
26                        246.00         38.0
14                        278.00         39.0
7                         285.00         40.0
25                        528.00         41.0

In [24]:
nfl_data.loc[38]

Team                                          Toronto Argonauts
City                                                    Toronto
State                                                   Ontario
Metropolitan                                            Toronto
League                                                      CFL
Conference                                                  NaN
Division                                                   East
First season                                               1873
Head coach                                       Corey Chamblin
Games played                                                 18
Points for                                                  369
Points against                                              560
Touchdowns for                                               35
Touchdowns against                                           49
Points for per game                                        20.5
Touchdowns for per game                                 1.94444
Overall points                                              929
Overall touchdowns                                           84
Overall points per game                                 51.6111
Overall touchdowns per game                             4.66667
Stadium                                               BMO Field
Capacity                                                  25000
Latitude                                                43.6328
Longitude                                              -79.4186
Home attendance                                           14210
Average ticket price in 2019                               28.2
Average monthly precipitation(whole year)                  59.5
Average monthly precipitation(season)                      73.4
Price of gasoline (1 gallon)                               3.59
Price of domestic beer (0.5 liter draught)                 6.06
Price of McMeal at McDonalds                               7.77
Safety index                                              62.52
CO2 emission index                                      6528.61
Traffic index                                            192.24
Pollution index                                           37.74
touchdowns_rank                                              30
ticket_rank                                                   1
Name: 38, dtype: object

In [25]:
nfl_data.sort_values(['Average monthly precipitation(whole year)'], inplace=True, ascending = True)

In [26]:
nfl_data['precipitation_rank'] = nfl_data['Average monthly precipitation(whole year)'].rank(method='first', ascending = True)

In [27]:
nfl_data[['precipitation_rank','Average monthly precipitation(whole year)']]

    precipitation_rank  Average monthly precipitation(whole year)
0                  1.0                                       17.1
34                 2.0                                       25.7
5                  3.0                                       27.2
13                 4.0                                       29.0
11                 5.0                                       30.5
21                 6.0                                       32.2
20                 7.0                                       32.2
40                 8.0                                       34.9
33                 9.0                                       49.1
29                10.0                                       49.1
38                11.0                                       59.5
14                12.0                                       62.2
30                13.0                                       63.2
15                14.0                                       65.0
23                15.0                                       65.2
24                16.0                                       65.4
12                17.0                                       71.1
35                18.0                                       79.6
32                19.0                                       81.1
7                 20.0                                       82.6
9                 21.0                                       82.8
19                22.0                                       82.8
10                23.0                                       83.8
39                24.0                                       84.2
4                 25.0                                       85.9
3                 26.0                                       86.8
31                27.0                                       88.3
8                 28.0                                       90.0
17                29.0                                       90.2
36                30.0                                       95.7
2                 31.0                                       96.1
6                 32.0                                       96.7
37                33.0                                       99.7
25                34.0                                      104.6
16                35.0                                      105.2
1                 36.0                                      105.6
28                37.0                                      105.8
27                38.0                                      105.8
22                39.0                                      108.2
18                40.0                                      111.1
26                41.0                                      132.3

In [28]:
nfl_data.sort_values(['Price of domestic beer (0.5 liter draught)'], inplace=True, ascending = True)

In [29]:
nfl_data['beer_rank'] = nfl_data['Price of domestic beer (0.5 liter draught)'].rank(method='first', ascending = True)

In [30]:
nfl_data[['beer_rank','Price of domestic beer (0.5 liter draught)']]

    beer_rank  Price of domestic beer (0.5 liter draught)
12        1.0                                        3.25
14        2.0                                        3.50
40        3.0                                        3.98
0         4.0                                        4.00
36        5.0                                        4.00
17        6.0                                        4.00
8         7.0                                        4.00
4         8.0                                        4.00
18        9.0                                        4.00
32       10.0                                        4.00
9        11.0                                        4.00
26       12.0                                        4.00
15       13.0                                        4.17
10       14.0                                        4.50
24       15.0                                        4.55
13       16.0                                        4.64
1        17.0                                        4.75
34       18.0                                        4.92
16       19.0                                        5.00
37       20.0                                        5.00
6        21.0                                        5.00
31       22.0                                        5.00
11       23.0                                        5.00
3        24.0                                        5.00
19       25.0                                        5.00
7        26.0                                        5.00
30       27.0                                        5.30
5        28.0                                        5.30
2        29.0                                        5.30
23       30.0                                        5.50
29       31.0                                        5.50
35       32.0                                        6.00
39       33.0                                        6.00
21       34.0                                        6.00
22       35.0                                        6.00
20       36.0                                        6.00
38       37.0                                        6.06
33       38.0                                        6.74
25       39.0                                        7.00
28       40.0                                        7.00
27       41.0                                        7.00

In [31]:
nfl_data.loc[12]

Team                                                        Detroit Lions
City                                                              Detroit
State                                                            Michigan
Metropolitan                                                      Detroit
League                                                                NFL
Conference                                    National Fotball Conference
Division                                                            North
First season                                                         1930
Head coach                                                  Matt Patricia
Games played                                                           16
Points for                                                            324
Points against                                                        360
Touchdowns for                                                         35
Touchdowns against                                                     44
Points for per game                                                 20.25
Touchdowns for per game                                            2.1875
Overall points                                                        684
Overall touchdowns                                                     79
Overall points per game                                             42.75
Overall touchdowns per game                                        4.9375
Stadium                                                        Ford Field
Capacity                                                            65000
Latitude                                                            42.34
Longitude                                                         -83.046
Home attendance                                                     62795
Average ticket price in 2019                                          167
Average monthly precipitation(whole year)                            71.1
Average monthly precipitation(season)                                66.5
Price of gasoline (1 gallon)                                         2.76
Price of domestic beer (0.5 liter draught)                           3.25
Price of McMeal at McDonalds                                            7
Safety index                                                        27.07
CO2 emission index                                                11644.1
Traffic index                                                         243
Pollution index                                                     52.94
touchdowns_rank                                                        32
ticket_rank                                                            26
precipitation_rank                                                     17
beer_rank                                                               1
Name: 12, dtype: object

In [32]:
nfl_data.columns

Index(['Team', 'City', 'State', 'Metropolitan', 'League', 'Conference',
       'Division', 'First season', 'Head coach', 'Games played', 'Points for',
       'Points against', 'Touchdowns for', 'Touchdowns against',
       'Points for per game', 'Touchdowns for per game', 'Overall points',
       'Overall touchdowns', 'Overall points per game',
       'Overall touchdowns per game', 'Stadium', 'Capacity', 'Latitude',
       'Longitude', 'Home attendance', 'Average ticket price in 2019',
       'Average monthly precipitation(whole year)',
       'Average monthly precipitation(season)', 'Price of gasoline (1 gallon)',
       'Price of domestic beer (0.5 liter draught)',
       'Price of McMeal at McDonalds', 'Safety index', 'CO2 emission index',
       'Traffic index', 'Pollution index', 'touchdowns_rank', 'ticket_rank',
       'precipitation_rank', 'beer_rank'],
      dtype='object')

In [33]:
nfl_data.sort_values(['Price of McMeal at McDonalds'], inplace=True, ascending = True)

In [34]:
nfl_data['mcd_rank'] = nfl_data['Price of McMeal at McDonalds'].rank(method='first', ascending = True)

In [35]:
nfl_data[['mcd_rank','Price of McMeal at McDonalds']]

    mcd_rank  Price of McMeal at McDonalds
6        1.0                          6.00
17       2.0                          6.50
3        3.0                          6.57
14       4.0                          6.75
13       5.0                          6.82
23       6.0                          7.00
7        7.0                          7.00
19       8.0                          7.00
37       9.0                          7.00
1       10.0                          7.00
26      11.0                          7.00
12      12.0                          7.00
18      13.0                          7.00
4       14.0                          7.00
8       15.0                          7.00
9       16.0                          7.00
34      17.0                          7.20
32      18.0                          7.25
40      19.0                          7.35
10      20.0                          7.50
20      21.0                          7.50
16      22.0                          7.50
21      23.0                          7.50
31      24.0                          7.50
11      25.0                          7.50
0       26.0                          7.50
15      27.0                          7.58
2       28.0                          7.58
30      29.0                          7.58
24      30.0                          7.58
5       31.0                          7.58
22      32.0                          7.75
38      33.0                          7.77
36      34.0                          8.00
29      35.0                          8.00
35      36.0                          8.00
39      37.0                          8.00
25      38.0                          8.00
28      39.0                          9.00
33      40.0                          9.00
27      41.0                          9.00

In [36]:
nfl_data.sort_values(['Pollution index'], inplace=True, ascending = True)

In [37]:
nfl_data['pollution_rank'] = nfl_data['Pollution index'].rank(method='first', ascending = True)

In [38]:
nfl_ranks = nfl_data[['Team','City','touchdowns_rank','ticket_rank','precipitation_rank','beer_rank','mcd_rank','pollution_rank']]

In [39]:
nfl_ranks.head()

,Team,City,touchdowns_rank,ticket_rank,precipitation_rank,beer_rank,mcd_rank,pollution_rank
30,Ottawa Redblacks,Ottawa,19.0,6.0,13.0,27.0,29.0,1.0
14,Green Bay Packers,Green Bay,25.0,39.0,12.0,2.0,4.0,2.0
2,BC Lions,Vancouver,29.0,5.0,31.0,29.0,28.0,3.0
23,Minnesota Vikings,Minneapolis,24.0,24.0,15.0,30.0,6.0,4.0
5,Calgary Stampeders,Calgary,6.0,9.0,3.0,28.0,31.0,5.0

In [40]:
nfl_ranks['sum_of_ranks'] = nfl_ranks['touchdowns_rank'] + nfl_ranks['ticket_rank'] + nfl_ranks['precipitation_rank'] + nfl_ranks['beer_rank'] + nfl_ranks['mcd_rank'] + nfl_ranks['pollution_rank']

C:\Users\marko\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
nfl_ranks.sample(10)

,Team,City,touchdowns_rank,ticket_rank,precipitation_rank,beer_rank,mcd_rank,pollution_rank,sum_of_ranks
17,Indianapolis Colts,Indianapolis,5.0,11.0,29.0,6.0,2.0,28.0,81.0
37,Tennessee Titans,Nashville,34.0,22.0,33.0,20.0,9.0,21.0,139.0
13,Edmonton Eskimos,Edmonton,12.0,2.0,4.0,16.0,5.0,9.0,48.0
39,Washington Redskins,Landover,37.0,32.0,24.0,33.0,37.0,20.0,183.0
2,BC Lions,Vancouver,29.0,5.0,31.0,29.0,28.0,3.0,125.0
24,Montreal Alouettes,Montreal,38.0,4.0,16.0,15.0,30.0,13.0,116.0
1,Atlanta Falcons,Atlanta,14.0,20.0,36.0,17.0,10.0,30.0,127.0
36,Tampa Bay Buccaneers,Tampa,15.0,19.0,30.0,5.0,34.0,11.0,114.0
12,Detroit Lions,Detroit,32.0,26.0,17.0,1.0,12.0,35.0,123.0
10,Dallas Cowboys,Arlington,23.0,31.0,23.0,14.0,20.0,26.0,137.0

In [42]:
nfl_ranks['total_rank'] = nfl_ranks['sum_of_ranks'].rank(method='first', ascending = True)

C:\Users\marko\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [43]:
nfl_ranks

,Team,City,touchdowns_rank,ticket_rank,precipitation_rank,beer_rank,mcd_rank,pollution_rank,sum_of_ranks,total_rank
30,Ottawa Redblacks,Ottawa,19.0,6.0,13.0,27.0,29.0,1.0,95.0,7.0
14,Green Bay Packers,Green Bay,25.0,39.0,12.0,2.0,4.0,2.0,84.0,5.0
2,BC Lions,Vancouver,29.0,5.0,31.0,29.0,28.0,3.0,125.0,21.0
23,Minnesota Vikings,Minneapolis,24.0,24.0,15.0,30.0,6.0,4.0,103.0,10.0
5,Calgary Stampeders,Calgary,6.0,9.0,3.0,28.0,31.0,5.0,82.0,4.0
25,New England Patriots,Foxborough,4.0,41.0,34.0,39.0,38.0,6.0,162.0,37.0
6,Carolina Panthers,Charlotte,16.0,16.0,32.0,21.0,1.0,7.0,93.0,6.0
35,Seattle Seahawks,Seattle,9.0,36.0,18.0,32.0,36.0,8.0,139.0,29.0
13,Edmonton Eskimos,Edmonton,12.0,2.0,4.0,16.0,5.0,9.0,48.0,1.0
4,Buffalo Bills,Orchard Park,36.0,10.0,25.0,8.0,14.0,10.0,103.0,11.0
36,Tampa Bay Buccaneers,Tampa,15.0,19.0,30.0,5.0,34.0,11.0,114.0,14.0
18,Jacksonville Jaguars,Jacksonville,41.0,12.0,40.0,9.0,13.0,12.0,127.0,22.0
24,Montreal Alouettes,Montreal,38.0,4.0,16.0,15.0,30.0,13.0,116.0,16.0
19,Kansas City Chiefs,Kansas City,1.0,28.0,22.0,25.0,8.0,14.0,98.0,8.0
29,Oakland Raiders,Oakland,35.0,29.0,10.0,31.0,35.0,15.0,155.0,33.0
9,Cleveland Browns,Cleveland,20.0,30.0,21.0,11.0,16.0,16.0,114.0,15.0
40,Winnipeg Blue Bombers,Winnipeg,8.0,7.0,8.0,3.0,19.0,17.0,62.0,2.0
33,San Francisco 49ers,Santa Clara,31.0,23.0,9.0,38.0,40.0,18.0,159.0,35.0
38,Toronto Argonauts,Toronto,30.0,1.0,11.0,37.0,33.0,19.0,131.0,25.0
39,Washington Redskins,Landover,37.0,32.0,24.0,33.0,37.0,20.0,183.0,38.0
37,Tennessee Titans,Nashville,34.0,22.0,33.0,20.0,9.0,21.0,139.0,30.0
11,Denver Broncos,Denver,27.0,37.0,5.0,23.0,25.0,22.0,139.0,31.0
8,Cincinnati Bengals,Cincinnati,18.0,17.0,28.0,7.0,15.0,23.0,108.0,12.0
22,Miami Dolphins,Miami Gardens,28.0,27.0,39.0,35.0,32.0,24.0,185.0,39.0
34,Saskatchewan Roughriders,Regina,40.0,8.0,2.0,18.0,17.0,25.0,110.0,13.0
10,Dallas Cowboys,Arlington,23.0,31.0,23.0,14.0,20.0,26.0,137.0,27.0
7,Chicago Bears,Chicago,13.0,40.0,20.0,26.0,7.0,27.0,133.0,26.0
17,Indianapolis Colts,Indianapolis,5.0,11.0,29.0,6.0,2.0,28.0,81.0,3.0
32,Pittsburgh Steelers,Pittsburgh,11.0,34.0,19.0,10.0,18.0,29.0,121.0,18.0
1,Atlanta Falcons,Atlanta,14.0,20.0,36.0,17.0,10.0,30.0,127.0,23.0
3,Baltimore Ravens,Baltimore,22.0,21.0,26.0,24.0,3.0,31.0,127.0,24.0
26,New Orleans Saints,New Orleans,3.0,38.0,41.0,12.0,11.0,32.0,137.0,28.0
31,Philadelphia Eagles,Philadelphia,17.0,35.0,27.0,22.0,24.0,33.0,158.0,34.0
15,Hamilton Tiger-Cats,Hamilton,10.0,3.0,14.0,13.0,27.0,34.0,101.0,9.0
12,Detroit Lions,Detroit,32.0,26.0,17.0,1.0,12.0,35.0,123.0,19.0
28,New York Jets,East Rutherford,33.0,18.0,37.0,40.0,39.0,36.0,203.0,41.0
27,New York Giants,East Rutherford,26.0,14.0,38.0,41.0,41.0,37.0,197.0,40.0
16,Houston Texans,Houston,21.0,25.0,35.0,19.0,22.0,38.0,160.0,36.0
0,Arizona Cardinals,Glendale,39.0,15.0,1.0,4.0,26.0,39.0,124.0,20.0
21,Los Angeles Rams,Los Angeles,2.0,13.0,6.0,34.0,23.0,40.0,118.0,17.0
20,Los Angeles Chargers,Carson,7.0,33.0,7.0,36.0,21.0,41.0,145.0,32.0

In [ ]:
# get the name of the team - manually!

In [44]:
nfl_ranks.to_csv('ranks2.csv')